body { font-family: "Roboto", sans-serif; color: #434455; background-color: #FFFFFF;}
:root{color: var(--brand-color)}
* { 
    box-sizing: border-box;
    margin: 0; 
    padding: 0; 
}
.link {text-decoration: none; display: inline-block;}
.list {list-style: none; display: inline;}
.header {display: flex; border-bottom: 1px solid #e7e9fc; height: 72px; box-shadow:  0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08); }
.container {width: 1158px;
   margin: 0 auto;
   padding: 0 15px;} 
.menu {display: flex; width: 1158px; margin: 0 auto; padding: 0 15px;}
.nav {display: flex; align-items: center;}
.navigation {color: #2E2F42; font-size: 16px; font-weight: 500; line-height: 1.5; letter-spacing: 0.02em;
    padding: 24px 0;
    display: inline-flex;
    flex-direction: column;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);}
.navigation-list {display: flex; gap: 40px;}
.li-navigation {display: inline-flex; justify-content: center;}
.link--current {
    position: relative;
    color: #404BBF;
}
.link--current::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #404BBF;
    border-radius: 2px;
    left: 0;
    bottom: -1px;
    
}

.navigation:hover,
.navigation:focus {color: #404bbf;}
.address {
    padding: 24px 0;}
.address-list {display: flex; gap: 40px; padding-left: 332px;}
.address-link {font-style: normal; text-decoration: none; font-size: 16px; line-height: 1.5; letter-spacing: 0.02em; color: #434455;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.address-link:hover,
.address-link:focus { color: #404BBF;}
.catchphrase {background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/office.jpg); 
    max-width: 1440px; 
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: cover;
    background-color: #2E2F42; 
    margin: 0 auto;
    padding: 188px 0;}
.title {color: #FFFFFF;font-size: 56px; font-weight: 700; line-height: 1.07; letter-spacing: 0.02em; text-align: center;
    max-width: 496px; margin: auto;}
.order-button {
    color:#FFFFFF; 
    background-color: #4D5AE5; 
    font-family: "Roboto", sans-serif; 
    font-weight: 500; 
    font-size: 16px; 
    line-height: 1.5; 
    letter-spacing: 0.04em; 
    cursor: pointer;
    display: block; 
    min-width: 169px; 
    height: 56px; 
    border: none; 
    border-radius: 4px; 
    margin: 0 auto; 
    margin-top: 48px;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.order-button:hover,
.order-button:focus {background-color: #404BBF; cursor: pointer;}
.title {font-weight: 500;}
.headline-values { color: #2E2F42; font-size: 20px; font-weight: 500; line-height: 1.2; letter-spacing: 0.02em;
    margin-bottom: 8px;}
.headline { color: #2E2F42; font-size: 20px; font-weight: 500; line-height: 1.2; letter-spacing: 0.02em;
    margin-bottom: 8px;}
.headline-team {text-align: center;}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    }
.text { color: #434455; line-height: 1.5; letter-spacing: 0.02em;
    }
.text-team {text-align: center;}
.main-title { color: #2E2F42; font-size: 36px; line-height: 1.11; letter-spacing: 0.02em; text-align: center; text-transform: capitalize;
    margin-bottom: 72px;}
.values {padding: 120px 0;}
.values-list {display: flex; gap: 24px;}
.li-values {
    width: calc((100% - 72px) / 4);}
.what-are-we-doing {padding-bottom: 120px;}
.doing-list {display: flex; gap: 24px;}
.li-doing {
    width: calc((100% - 48px)/3);}
.team {background-color: #F4F4FD;
    padding: 120px 0;
    }
.team-list {display: flex; gap: 24px;}
.team-card {background-color: #FFFFFF; border-radius: 0 0 4px 4px;
    width: calc((100% - 72px)/4); box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);}
.name {padding: 32px 0;}
.filters {padding: 96px 0 120px 0;}
.filter-list {display: flex; justify-content: center; gap: 24px; margin-bottom: 72px;}
.filter-button { color: #4D5AE5; background-color: #F4F4FD; font-family: "Roboto", sans-serif; font-size: 16px; font-weight: 500; line-height: 1.5; letter-spacing: 0.04em;
    padding: 12px 24px; border: 1px solid #e7e9fc;border-radius: 4px;
    transition-property: color, background-color, border-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-button:hover,
.filter-button:focus { color: #FFFFFF; background-color: #404BBF; cursor: pointer;
    border: 1px solid transparent; 
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);}
.services-list {display: flex; flex-wrap: wrap; column-gap: 24px; row-gap: 48px;}
.li-app {width: calc((100% - 48px)/3);}
.apps {padding: 32px 16px; border: 1px solid #e7e9fc; border-top: none;}
.footer {background-color: #2E2F42; display: flex; padding: 100px 0; margin: 0 auto;}
.span-footer {color: #F4F4FD;}
.text-footer {color: #F4F4FD; line-height: 1.5; letter-spacing: 0.02em;
    width: 264px;}
.logo-footer {margin-bottom: 16px;}
.logo-header,
.logo-footer {font-family: "Raleway",sans-serif; font-weight: 800; font-size: 18px; color: #4d5ae5; line-height: 1.17; letter-spacing: 0.03em; text-transform: uppercase; }
.logo-header {margin-right: 76px;}
.div-footer {display: flex; align-items: baseline;}
.span {color: #2E2F42;}
.headline-social {color: #FFFFFF; font-size: 16px; font-weight: 500; line-height: 1.5; letter-spacing: 0.02em; margin-bottom: 16px;}
.list-social {display: flex; gap: 16px;}
.li-social {height: 40px; width: 40px;}
.social-link {width: 100%; height: 100%; background-color: #4D5AE5; border-radius: 50%; display: flex; align-items: center; justify-content: center;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);}
.social-link:hover,
.social-link:focus {background-color: #31d0aa;}
.social-icon {fill: #f4f4fd;}
.customers-list {display: flex; gap: 24px;}
.customers-section {padding: 120px 0 ;}
.media-list {display: flex; gap: 24px; justify-content: center; padding-top: 8px;}
.li-media {height: 40px; width: 40px;}
.div-values {display: flex; align-items: center; justify-content: center; height: 112px; background-color: #f4f4fd;border-radius: 4px; margin-bottom: 8px;}
.media-link {width: 100%; height: 100%; background-color: #4d5ae5; border-radius: 50%; display: flex; align-items: center; justify-content: center;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);}
.media-link:hover,
.media-link:focus {background-color: #404bbf;}
.media-icon {fill: #f4f4fd;}
.li-customers {width: calc((100% - 120px) / 6); height: 88px}
.customer-link {width: 100%; height: 100%; border: 1px solid #8e8f99; border-radius: 4px; display: flex; align-items: center; justify-content: center; color: #8e8f99;
    transition-property: border-color, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.customer-link:hover,
.customer-link:focus {color: #404bbf;border-color: #404bbf;}
.customer-icon {fill: currentColor}
.div-logo {margin-right: 120px;}
.app-link { width: 100%;
    display: block;
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);}
.app-link:hover,
.app-link:focus {box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);}
.portfolio-wrapper {width: 100%;
    position: relative;
    overflow: hidden;
}
.app-text {
    position: absolute;
    top: 0;
    color: #F4F4FD;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 40px 32px;
    background-color: #4D5AE5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.app-link:hover p,
.app-link:focus p {
    transform: translateY(0%);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-window {position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 1;
    pointer-events: all;
    transition-property: opacity;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-window.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition-property: opacity, visibility;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 408px;
    min-height: 584px;
    background-color: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}
.close-button {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    color: #2E2F42;
    font-size: 16px;
    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    top: 24px;
    right: 24px;
    padding: 0;
    cursor: pointer;
    transition-property: background-color, border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);    
}
.close-button:hover,
.close-button:focus {
    background-color: #404bbf;
    fill: #ffffff;
    border: none;}
.close-icon {
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe {
    color: #ffffff;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    font-weight: 500;
}
.email-input {
    background-color: transparent;
    color: #ffffff;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    font-weight: 400;
    border: 1px solid #ffffff;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.15);
    width: 264px;
    height: 40px;
    padding-left: 16px;
    padding-top: 4px;
    gap: 24px;
}
.subscribe-form {
    display: flex;
    margin-top: 16px;
    gap: 24px;
}
.btn-subscribe {
    background-color: #4D5AE5;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    min-width: 165px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}
.sub-icon {
    margin-left: 16px;
}
.div-form-contact {
    margin-bottom: 8px;
}
.label-form {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}
.form-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 360px;
    height: 40px;
}
.form-wrapper:focus-within {
    border-color: #4D5AE5;
    fill: #4D5AE5;
}
.contact-input {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    outline: transparent;
    width: 100%;
    height: 40px;
    padding-left: 38px;
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4,0,0.2,1);
}
.contact-input:focus {
    border-color: #4D5AE5;
}
.textarea {
    color: rgba(46,47,66,0.4);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    width: 100%;
    height: 120px;
    border: 1px solid rgba(46,47,66,0.4);
    border-radius: 4px;
    background-color: transparent;
    outline: transparent;
    resize: none;
    padding: 8px 16px;
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4,0,0.2,1);
}
.textarea:focus {
    border-color: #4D5AE5;
}
.form-text {
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 16px;
}
.send-button {
    display: block;
    min-width: 169px;
    height: 56px;
    margin-left: 95px;
    background-color: #4D5AE5;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    font-weight: 500;
    cursor: pointer;
    margin-top: 24px;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4,0,0.2,1);
}
.link-policy {
    color: #4D5AE5;
}
.form-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4,0,0.2,1);
}
.form-icon:focus {
    fill: #4D5AE5;
}
.div-comment {
    margin-bottom: 16px;
}
.div-policy {
    margin-bottom: 24px;
}
.label-policy {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
}
.span-checkbox {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46,47,66,0.4);
    border-radius: 2px;
    transition-property: background-color, border, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4,0,0.2,1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-right: 8px;
}
.checkbox:checked + .label-policy .span-checkbox {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}